/* VARIABLES */
:root {
    /* COLORS */
    --joe: #EF9339;
    --soundfolder: #39815B;
    --tubeless: #CB483D;
    --color-saver: #323031;
    --circuit-breaker: #888888;
    --trivia-quiz: #204B5F;
}

/* FONT STYLES */
* {
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* LINKS/BUTTONS */
.link,
.button {
    background: transparent;
    border: 4px solid white;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

body:not(.tabbing) .link,
body:not(.tabbing) .button,
body:not(.tabbing) .nav-btn {
    outline: none;
}

/* SIDEBAR */
.sidebar {
    display: none;
}

/* IMAGES */
.profile {
    width: 200px;
    display: block;
    margin: 0 auto 1.5rem;
}
.img-container {
    position: relative;
    cursor: pointer;
    width: 100%;
}
.img-container > img {
    width: 100%;
}
.img-container .fullscreen {
    position: absolute;
    bottom: -4px;
    right: -4px;
}
.img-container .fullscreen img {
    transform: scale(.8);
    transition: transform .25s ease-in-out;
}
.img-container:hover .fullscreen img {
    transform: scale(1);
}

/* PANELS */
.panel {
    color: white;
    position: relative;
}
.decorative-text {
    display: none;
}

/* PANEL COLORS */
.panel.joe { background: var(--joe); }
.panel.soundfolder { background: var(--soundfolder); }
.panel.tubeless { background: var(--tubeless); }
.panel.color-saver { background: var(--color-saver); }
.panel.circuit-breaker { background: var(--circuit-breaker); }
.panel.trivia-quiz { background: var(--trivia-quiz); }

.nav-btn {
    color: transparent;
    transition: color 1s, transform .5s .1s;
    position: relative;
}
.nav-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 8px;
    transform: scaleX(0);
    transition: transform 1s .5s;
    transform-origin: left;
}
.nav-btn.active {
    color: black;
}
.nav-btn.active::after {
    background: black;
    transform: scaleX(1);
}

/* NAV COLORS */
.nav-btn.joe { color: var(--joe); }
.nav-btn.joe::after { background: var(--joe); }
.nav-btn.soundfolder { color: var(--soundfolder); }
.nav-btn.soundfolder::after { background: var(--soundfolder); }
.nav-btn.tubeless { color: var(--tubeless); }
.nav-btn.tubeless::after { background: var(--tubeless); }
.nav-btn.color-saver { color: var(--color-saver); }
.nav-btn.color-saver::after { background: var(--color-saver); }
.nav-btn.circuit-breaker { color: var(--circuit-breaker); }
.nav-btn.circuit-breaker::after { background: var(--circuit-breaker); }
.nav-btn.trivia-quiz { color: var(--trivia-quiz); }
.nav-btn.trivia-quiz::after { background: var(--trivia-quiz); }


@media(min-width: 768px) {
    /* IMAGES */
    .profile {
        width: 320px;
        float: right;
        shape-outside: polygon(83px 9px, 61.64% 0.46%, 71.19% 27.93%, 67.39% 48.54%, 76.43% 49.72%, 94.06% 62.18%, 100.47% 95.58%, -4.96% 96.59%, 1.9% 77.21%, 11.84% 59.91%, 78px 176px, 17.77% 37.58%);
    }
    .img-container {
        width: 250px;
    }
    .screenshots {
        width: 250px;
    }
}

@media(min-width: 1280px) {
    main {
        grid-column: 1;
    }
    /* GRID */
    .grid {
        display: grid;
        grid-template-columns: 2.5fr 1fr;
    }
    /* IMAGES */
    .img-container {
        width: 300px;
    }
    .screenshots {
        width: 300px;
    }
    /* SIDEBAR */
    .sidebar {
        display: block;
        grid-column: 2;
        grid-row: 1;
        height: 100vh;
        position: -webkit-sticky; 
        position: sticky;
        top: 0;
    }
    .sidebar nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .sidebar nav ul {
        list-style-type: none;
    }
    .sidebar nav ul li {
        margin-bottom: 1rem;
    }
    .sidebar nav ul li button {
        font-size: 2.5vw;
        font-weight: 900;
        text-transform: uppercase;
    }
    /* PANELS */
    .panel {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .decorative-text {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 36rem;
        font-weight: 900;
        text-transform: uppercase;
        writing-mode: vertical-rl;
        opacity: .06;
        line-height: .75;
        white-space: nowrap;
        cursor: default;
    }
}

@media(min-width: 1920px) {
    .sidebar nav ul li button {
        font-size: 3rem;
    }
}